<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>photo</key>
		<string>image_01.jpg</string>
		<key>content</key>
		<string>这首七言古诗是送别之作，古人在送别赠行的诗中，往往寓有劝慰之意，这首诗也不例外。</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>image_02.jpg</string>
		<key>content</key>
		<string>开头四句是诗的第一段。前两句指出董生虽然爱好读书，勤奋苦学，但不屑作一般儒生的寒酸、龌龊相，以科举起家，汲汲于追求功名富贵。而有志从军，因而早年就跃马西行，在金城关一带边防要地，参加军旅生活，以图立功绝域。次两句是说，董生虽然久在边疆，但当时西边的夏国，已与宋朝议和有年，所以未能在战场上建立功勋。</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>image_03.jpg</string>
		<key>content</key>
		<string>而边塞苦寒，风霜凄紧，董生在归来之后，已经须眉斑白</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>image_04.jpg</string>
		<key>content</key>
		<string>，而未遇时机；壮图未遂。“先皇召见延和殿”以下四句是诗的第二段。写董生归来之后，曾被先皇在延和殿召见，他在廷对的当儿，议论慷慨，曾使君王为之开颜（天，指天子），但终以年老，虽然诽谤很多，他也不复置辩。慨然脱身高隐，看山江南，暂且不问世事。这一段表明董生在回到京都以后，虽蒙召见，然而并未获得重用。

　　末段四句点明送行之意。前两句是说，董生南行之后，将越过浪涛滚滚、蛟龙怒吼的长江，作者不知扁舟此去，何时才能归还。这两句深寓惜别之意。后两句的意思是：将来有幸，在大梁城里定能相见（大梁即汴京）。而玉川子的破屋数间，那时也定然存在。</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>image_05.jpg</string>
		<key>content</key>
		<string>全诗表达了送别友人的磊落旷达之情</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>image_06.jpg</string>
		<key>content</key>
		<string>谢逸（1068-1113，一说1010-1113）字无逸，号溪堂。宋代临川城南（今属江西省抚州市）人。北宋文学家，江西诗派二十五法嗣之一。</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>image_07.jpg</string>
		<key>content</key>
		<string>这是什么鬼东西！
塞垣苦寒风气恶，归来面皱须眉斑。
先皇召见延和殿，议论慷慨天开颜。
谤书盈箧不复辩，脱身来看江南山。
长江滚滚蛟龙怒，扁舟此去何当还？
大梁城里定相见，玉川破屋应数间。</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>image_08.jpg</string>
		<key>content</key>
		<string>与其从弟谢薖并称“临川二谢”。与饶节、汪革、谢薖并称为“江西诗派临川四才子”。 曾写过300首咏蝶诗，人称“谢蝴蝶”。生于宋神宗赵顼熙宁元年，幼年丧父，家境贫寒。与汪革、谢薖同学于吕希哲，刻苦磨砺，诗文俱佳。两次应科举，均不第。
塞垣苦寒风气恶，归来面皱须眉斑。
先皇召见延和殿，议论慷慨天开颜。
谤书盈箧不复辩，脱身来看江南山。
长江滚滚蛟龙怒，扁舟此去何当还？
大梁城里定相见，玉川破屋应数间。</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>image_09.jpg</string>
		<key>content</key>
		<string>然操履峻洁，不附权贵</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>image_10.jpg</string>
		<key>content</key>
		<string>读书不作儒生酸，跃马西入金城关。
塞垣苦寒风气恶，归来面皱须眉斑。
先皇召见延和殿，议论慷慨天开颜。
谤书盈箧不复辩，脱身来看江南山。
长江滚滚蛟龙怒，扁舟此去何当还？
大梁城里定相见，玉川破屋应数间。</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>image_11.jpg</string>
		<key>content</key>
		<string>谢逸（1068-1113，一说1010-1113）字无逸，号溪堂。宋代临川城南（今属江西省抚州市）人。北宋文学家，江西诗派二十五法嗣之一。与其从弟谢薖并称“临川二谢”。与饶节、汪革、谢薖并称为“江西诗派临川四才子”。 曾写过300首咏蝶诗，人称“谢蝴蝶”。生于宋神宗赵顼熙宁元年，幼年丧父，家境贫寒。与汪革、谢薖同学于吕希哲，刻苦磨砺，诗文俱佳。两次应科举，均不第。然操履峻洁，不附权贵，和谢薖“修身砺行，在崇宁大观间不为世俗毫发污染”（《谢幼盘文集》卷首），一生过着“家贫惟饭豆，肉贵但羡藜”的安贫乐道的清苦生活，以作诗文自娱。在乡家居，每月召集乡中贤士聚会一次，共议古人厚德之事，并抄录成册，名为“宽厚会”。其《寄隐士诗》表达了自己的志向：“先生骨相不封侯，卜居但得林塘幽。家藏玉唾几千卷，手校韦编三十秋。相知四海孰青眼，高卧一庵今白头。襄阳耆旧节独苦，只有庞公不入州”。这首诗为历代诗论家所赞赏，《竹庄诗话》、《诗林广记》均称其为佳作。宋徽宗赵佶政和三年以布衣终老于故土，年四十
塞垣苦寒风气恶，归来面皱须眉斑。
先皇召见延和殿，议论慷慨天开颜。
谤书盈箧不复辩，脱身来看江南山。
长江滚滚蛟龙怒，扁舟此去何当还？
大梁城里定相见，玉川破屋应数间。</string>
	</dict>
</array>
</plist>
